<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{description}}</p>
  <p>Created by {{user.name}}</p>
  <p>
    <span for="img" aria-label="money">💲</span>
    <span class="dollar-amount">{{price}}</span>
  </p>
  <p>
    <button class="btn btn-primary">90's Rewind!</button>
  </p>
</div>


